<!-- public/partials/contatos.html -->
<div class="jumbotron">
    <h1 class="text-center"> Bem-vindo ao Contatooh
    </h1>
</div>
<div class="input-group mb-3 d-block ">
    <div class="d-flex justify-content-between mb-4">
        <button class="btn btn-primary btn-sm" ng-click="incrementa()">Novo Contato</button>
        <input class="form-control w-25" ng-model="filtro" type="search" placeholder="Parte do nome">
    </div>
    <div class="alert alert-secondary" role="alert">
        Contatos cadastrados: <span class="badge badge-info">{{contatos.length}}</span>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th>NOME</th>
                <th>E-MAIL</th>
                <th class="text-center">Ação</th>
            </tr>
        </thead>
        <tr ng-repeat="contato in contatos | filter: filtro">
            <td>
                <a>{{contato.nome}}</a>
            </td>
            <td>{{contato.email}}</td>
            <td class="text-center"> 
                <button class="btn btn-warning" ng-click="remove(contato)"> Remover </buttom>
            </td>
        </tr>
    </table>
</div>
